<h4>Customer Scenario</h4>
<form clrForm [formGroup]="sizingForm" class="clr-form clr-form-compact">
  <h5>System Configuration</h5>
  <div class="clr-form-control clr-row">
    <label for="ecs_model" class="clr-control-label clr-col-xs-12 clr-col-md-4">ECS Model</label>
    <div class="clr-control-container clr-col-xs-12 clr-col-md-8">
      <div class="clr-input-wrapper">
        <select id="ecs_model" class="clr-select" formControlName="ecs_model">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
    </div>
  </div>

  <div class="clr-form-control clr-row">
    <label for="ec_option" class="clr-control-label clr-col-xs-12 clr-col-md-4">EC Option</label>
    <div class="clr-control-container clr-col-xs-12 clr-col-md-8">
      <div class="clr-input-wrapper">
        <select id="ec_option" class="clr-select" formControlName="ec_option">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
    </div>
  </div>

  <div class="clr-form-control clr-row">
    <clr-input-container>
      <label class="clr-control-label clr-col-xs-12 clr-col-md-4">Number of ECS Systems</label>
      <div class="clr-control-container clr-col-xs-12 clr-col-md-8">
        <input clrInput type="number" [(ngModel)]="sys_number" formControlName="sys_number" name="example" required
               minlength="5"/>
        <clr-control-helper>Helper text that shows while it is pristine and valid</clr-control-helper>
        <clr-control-error *clrIfError="'required'">Error message about being required</clr-control-error>
      </div>
    </clr-input-container>
  </div>

</form>
